<div class="d-flex align-items-center">
  <img
    src="../../../../../assets/img/ic-user.png"
    srcset="
      ../../../../../assets/img/ic-user@2x.png 2x,
      ../../../../../assets/img/ic-user@3x.png 3x
    "
    class="ic_user"
  />
  <span class="user-enter">User login</span>
  <img
    src="../../../../../assets/img/ic-exit.png"
    srcset="
      ../../../../../assets/img/ic-exit@2x.png 2x,
      ../../../../../assets/img/ic-exit@3x.png 3x
    "
    class="ic_exit ml-3"
  />
  <span class="user-enter">Log off</span>
</div>
