@import "../../../../../assets/scss/colors.scss";

.control-button {
  border: none;
  outline: none;
  display: inline-flex;
  align-items: baseline;
  padding: 3px 17px;
  border-radius: 3px;
  background-color: $dark-sky-blue;
  color: white;

  span {
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: -0.09px;
  }

  .fa-trash::before, .fa-pen::before {
    font-size: 12px;
  }
}
