<div class="login-form d-flex align-self-center">
    <div class="login-form-content">
        <h2>Login</h2>
        <form>
            <div>
                <p>E-mail:</p>
                <input type="text" placeholder="email@gmail.com" name="login" [(ngModel)]="login">
            </div>
            <div>
                <p>Password:</p>
                <input type="password" placeholder="password" name="password" [(ngModel)]="password">
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <a class="forgot-password" href="">Forgot password?</a>
                <button (click)="onSubmit()">Login</button>
            </div>
        </form>
    </div>
</div>
    