.closeBtn {
    background:#d9dbe3;
    color:#525462;
    font-family: SourceSansPro;
    font-size: 14px;
}

.acceptBtn {
    background: #9bc837;
    font-family: SourceSansPro;
    font-size: 14px;
}

.message {
    color: #525462;
    font-size: 14px;
    font-family: SourceSansPro;
}