<div class="container mt-4">
  <app-courses-search (filterCourseEmit)="onFilterCourses($event)"></app-courses-search>
  <div class="d-flex mt-4 justify-content-end">
    <button class="add-course" (click)="openAddCourse()">
      <i class="fa fa-plus mr-1"></i>
      <span class="add-course_text">Add course</span>
    </button>
  </div>

  <section class="mt-2">
    <ng-container *ngIf="showCourses.length > 0; else noMessage">
      <app-course-item data-marker="courses"
                       *ngFor="let courseItem of showCourses | orderBy: 'creationDate'"
                       [course]="courseItem"
                       (deleteCourseItem)="removeCourse($event)">
      </app-course-item>
      <div class="mt-2">
        <button class="load-more-btn">
          <span>
            Load more
          </span>
        </button>
      </div>
    </ng-container>
    <ng-template #noMessage>
      <div class="d-flex justify-content-center no-data">
        No data. Feel free to add new course
      </div>
    </ng-template>
  </section>
</div>
