<form class="search-field">
  <div class="search-icon">
    <img
      src="../../../../../assets/img/ic-search.png"
      srcset="
        ../../../../../assets/img/ic-search@2x.png 2x,
        ../../../../../assets/img/ic-search@3x.png 3x"
      class="ic_search ml-2"
    />
  </div>
  <input
    class="courses-search form-control"
    type="search"
    name="courses"
    placeholder="Text to search"
    aria-label="Search"
  />
  <button class="courses-search_btn" type="submit">
    Search
  </button>
</form>  