@import "../../../../../assets/scss/colors.scss";

.courses-breadcrumb {
  height: 64px;
  width: 100%;
  background-color: white;

  &_text {
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: $dark;
    vertical-align: text-bottom;
    vertical-align: super;
  }
}
